.sidebar-container {
    background-color: rgb(70, 70, 70);
    color: white;
    height: 50vh;
    padding: 40px 70px;
}

.sidebar-container ul li {
    list-style: none;
    margin-top: 17px;
    font-size: 20px;
}